<div class="instagram">
    <div class="container">
        <div class="title">
            <h2>Наш инстаграм</h2>
            <a href=""><img src="" alt="insta"/>@parisnail_stamping</a>
        </div>
        <div class="instagram_wrapper">
            <a href="" class="ins_item"><img src="" alt="insta"/></a>
            <a href="" class="ins_item"><img src="" alt="insta"/></a>
            <a href="" class="ins_item"><img src="" alt="insta"/></a>
            <a href="" class="ins_item"><img src="" alt="insta"/></a>
            <a href="" class="ins_item"><img src="" alt="insta"/></a>
        </div>
    </div>
</div>