<div class="item">
    <div class="item-top">
        <div class="itemCard-photo">
            <img src={item} alt=""/>
        </div>
        <div class="itemCard-descr">Профессиональная лампа UV/LED Pro 6 48 Вт белая ParisNail</div>
        <div class="itemCard-price"><span class="leftSide">Цена</span><span class="rightSide">9 900 ₽</span></div>
        <div class="btn_wrap">
            <button class="cart-btn">В корзину</button>
        </div>

        <div class="itemCardTop">
            <div class="top_new">
                <span>NEW!</span>
            </div>
            <div class="top_top">
                <img src={top} alt=""/>
                <span>ХИТ!</span>
            </div>
            <div class="top_like">
                <img src={like1} alt="like"/>
            </div>
        </div>
    </div>
    <div class="item-bottom">
        <div class="itemCard-photo">
            <img src={item} alt=""/>
        </div>
        <div class="itemCard-descr">Профессиональная лампа UV/LED Pro 6 48 Вт белая ParisNail</div>
        <div class="itemCard-price"><span class="leftSide">Цена</span><span class="rightSide">9 900 ₽</span></div>
        <div class="btn_wrap">
            <button class="cart-btn">В корзину</button>
        </div>

        <div class="itemCardTop">
            <div class="top_new">
                <span>NEW!</span>
            </div>
            <div class="top_top">
                <img src={top} alt=""/>
                <span>ХИТ!</span>
            </div>
            <div class="top_like">
                <img src={like1} alt="like"/>
            </div>
        </div>
    </div>

</div>