<div class="categories">
    <div class="container">
        <div class="title">
            <h2>Наши категории</h2>
        </div>
        <div class="categories_wrapper">
            <div class="categorie_item">
                <img src={img1} alt=""/>
                <a class="categorie_btn" href="">Оборудование</a>
            </div><div class="categorie_item">
            <img src={img2} alt=""/>
            <a class="categorie_btn" href="">Оборудование</a>
        </div><div class="categorie_item">
            <img src={img3} alt=""/>
            <a class="categorie_btn" href="">Оборудование</a>
        </div><div class="categorie_item">
            <img src={img4} alt=""/>
            <a class="categorie_btn" href="">Оборудование</a>
        </div><div class="categorie_item">
            <img src={img5} alt=""/>
            <a class="categorie_btn" href="">Оборудование</a>
        </div>

        </div>
    </div>
</div>